main {
    display: grid;
    height: 5vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    grid-template-areas: "search search search"
                        "blank blank filter"
                        "race race race"
                        "nav nav nav";
}

#searchbox {
    grid-area: search;
    height: 10vw;
}

#filter {
    grid-area: filter;
    height: 5vw;
}

nav {
    grid-area: nav;
}

.nav_bttn {
    width: 15vw;
    height: 15vw;
    margin-right: 5em;
}

#races{
    grid-area: race / span 3;
    height: 70vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

#races::-webkit-scrollbar {
  display: none;
}

ol > section {
    border: 3px;
    border-radius: 1em;
    border-style: solid;
    margin: 1em;
    padding: 2em;
    background-color: rgb(147, 171, 199);
}

.race_creation {
    display: grid;
    grid-template-rows: repeat(1fr, 6);

    height: 15vh;
}

.race_creation{
    grid-row: auto;
    height: 20vw;
}

.race_creation nav{
    grid-row: 6 / span 2;
}

input {
    border-radius: 1em;
}

#viewResults {
    display: none;
}

#uploadMssg {
    display: none;
}

#uploadBttn {
    display: none;
}

#recordBttn {
    display: none;
}

#view_results {
    display: none;
}

img {
    height: 20vw;
}