#timer {
    font-size: 4rem;
}

body {
    text-align: center;
}

button {
    border-style: none;
    padding: .7rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 5%;
}

#startBttn {
    background-color: rgb(73, 191, 136);
}

#uploadBttn {
    display: none;
}

li::marker {
    text-align: center;
}